#kivymd==0.104.0
opencv
numpy
kivy
git+https://github.com/HeaTTheatR/KivyMD.git
webbrowser
Pillow
cython
gspread==3.6
google-auth-oauthlib
google-api-python-client==1.8.0
httplib2
pyasn1
pyasn1-modules
rsa
plyer
oauth2client
kivy_garden.qrcode
kivy_garden.zbarcam
plyer
pylibdmtx
kivy.deps.sdl2; sys_platform == 'windows'
kivy.deps.glew; sys_platform == 'windows'